.soundPlayer {
  .control {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    :global {
      .semi-button-content {
        display: flex;
        align-items: center;
      }
    }
  }
}