.imageSelector {

}
.thumbnail {
  height: 100%;
  width: 100%;
  .icon {
    font-size: 80px;
    color: var( --semi-color-success);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}